.Filter{
    margin: 10px 0px;
}

.BtnDiv{
    text-align: center;
}

.BtnDiv {
    .Button{
        background-color: blue;
        border: none;
        padding: 10px;
        width: 120px;
        border-radius: 100px 100px 100px 100px;
        color: #000;
    }
}